################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LA3/.vs/LA3
/LA3/LA3/x64/Debug
/LA3/x64/Debug
